{{ partial "head.html" . }}
{{ partial "nav.html" . }}

{{ $claimID := .File.BaseFileName }}
{{ $claim := .Params }}

<main>
  <header>
    <h1>Claim: {{ $claim.title }}</h1>
  </header>

  <article>
    {{ if .Content }}
      <section>
        <h2>Details</h2>

        {{ .Content }}
      </section>
    {{ end }}

    <section>
      <h2>The Truth</h2>

      <p>{{ $claim.summary | markdownify }}</p>

      <section>
	<h3>Sources</h3>

	{{ range $check := .Params.checks }}
	  <blockquote>
	    <p>
              {{ if $check.quote }}
                {{ $check.quote | markdownify }}
              {{ else if $check.short }}
                {{ $check.short | markdownify }}
              {{ end }}
            </p>

            <footer>
              <cite>
                {{ if $check.url }}<a href="{{ $check.url }}">{{ end }}
                {{ if $check.checker }}
                  {{ range where $.Site.Pages "URL" (printf "/checker/%s/" $check.checker) }}
                    {{ .Title }}
                  {{ end }}
                {{ else }}
                  {{ $check.name }}
                {{ end }}

                {{ if $check.date }}
                  on {{ $check.date }}
                {{ end }}

                {{ if $check.url }}</a>{{ end }}
              </cite>
              {{ if $check.rating }}
                <div class="rating" style="margin-left: 1.2em">
                  Rating: {{ humanize $check.rating }}
                </div>
              {{ end }}
            </footer>
	  </blockquote>
        {{ end }}
      </section>
    </section>

    <section>
      <h2>Claimants</h2>

      <ul>

        {{ range $person := where (where .Site.Pages "Type" "person") "Kind" "page" }}
        {{ range where $person.Params.claims "id" $claimID }}
        <li>
          <a href="{{ $person.URL }}#claim-{{ $claimID | htmlEscape }}">
            {{ $person.Title }}
            {{ $claimCount := .assertions | len }}
            {{ if (sub $claimCount 1) }}
            on {{ $claimCount }} occasions
            {{ end }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>

    </section>
  </article>
</main>

<div id="bottom-nav" class="text-center center-block">
  <a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ partial "footer.html" . }}
