{{ partial "head.html" . }}

{{ $claimID := .File.BaseFileName }}
{{ $claim := .Params }}

<section id="truth">
  <h3>The Truth</h3>

  <p>{{ $claim.summary | markdownify }}</p>
</section>

{{ if .Params.topics }}
<section id="topics">
  <h3>Topics</h3>

  <ul>
    {{ range $topicId := .Params.topics }}
      {{ $topic := $.Site.GetPage "taxonomy" "topics" $topicId }}
      <li class="list-inline-item">
        <a href="{{ $topic.URL }}" class="btn btn-sm btn-outline-primary">
          {{ $topic.Title }}
          <span class="badge badge-secondary">{{ len $topic.Data.Pages }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}

{{ if .Content }}
  <section id="details">
    <h3>Details</h3>

    {{ .Content }}
  </section>
{{ end }}

<section id="fact-checks">
  <h3>Statements</h3>

  {{ $claimId := replaceRE "^/claims/(.*)/$" "$1" $.URL }}
  <ul class="quote-list">
    {{ range $stmt := where $.Site.Pages "Type" "assertion" }}
      {{ if in $stmt.Params.claims $claimId }}
        <li>
          {{ partial "quote.html" (dict "page" $ "stmt" $stmt) }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
