{{ partial "head.html" . }}

<p>
  {{ $nAssertions := (where $.Site.Pages "Type" "assertion") | len }}
  {{ $nClaims := .Data.Pages | len }}
  We currently have {{ $nClaims }} distinct claims in our database,
  which have been asserted an average of
  {{ printf "%1.2f" (div (mul $nAssertions 1.0) ($nClaims)) }}
  times each, for a total of {{ $nAssertions }} different false
  statements by {{ where $.Site.Pages "Type" "person" | len }}
  different people.
</p>

<ul class="claims">
  {{ range $claim := (.Paginate .Data.Pages.ByDate.Reverse).Pages }}
    {{ $.Scratch.Set "claimants" (slice) }}
    {{ $.Scratch.Set "claimantPaths" (slice) }}
    {{ range $stmt := $claim.Data.Pages }}
      {{ if not (in ($.Scratch.Get "claimantPaths") $stmt.Parent.File.Path) }}
        {{ $.Scratch.Add "claimantPaths" $stmt.Parent.File.Path }}
        {{ $.Scratch.Add "claimants" $stmt.Parent }}
        {{ $.Scratch.Set (printf "stmtsBy-%s" $stmt.Parent.File.Path) (slice $stmt) }}
      {{ else }}
        {{ $.Scratch.Add (printf "stmtsBy-%s" $stmt.Parent.File.Path) $stmt }}
      {{ end }}
    {{ end }}

    <li>
      <h4>
        <a href="{{ $claim.Permalink }}">{{ $claim.Title }}</a>
      </h4>

      <div>
        <ul class="quick-claimants-list">
          {{ range $claimant := $.Scratch.Get "claimants" }}
            {{ $stmtCount := $.Scratch.Get (printf "stmtsBy-%s" $claimant.File.Path) | len }}
            <li><a href="{{ $claimant.Permalink }}">{{ $claimant.Title }}</a>{{ if gt $stmtCount 1 }} {{ $stmtCount }} times{{ end }}</li>
          {{ end }}
        </ul>

        <section class="truth">
          <p>
            {{ $claim.Params.summary | markdownify }}
          </p>
        </section>
      </div>
    </li>
  {{ end }}
</ul>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
