{{ partial "head.html" . }}

{{ $claimID := .File.BaseFileName }}
{{ $claim := .Params }}

{{ if .Content }}
  <section id="details">
    <h2>Details</h2>

    {{ .Content }}
  </section>
{{ end }}

<section id="truth">
  <h2>The Truth</h2>

  <p>{{ $claim.summary | markdownify }}</p>
</section>

<section id="fact-checks">
  <h2>Statements</h2>

  {{ $claimId := replaceRE "^/claims/(.*)/$" "$1" $.URL }}
  <ul class="quote-list">
    {{ range $stmt := where $.Site.Pages "Type" "assertion" }}
      {{ if in $stmt.Params.claims $claimId }}
        <li>
          {{ partial "quote.html" (dict "page" $ "stmt" $stmt) }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
