{{ partial "head.html" . }}

{{ $claimID := replaceRE "^/claims/([^/]+)/?$" "$1" .URL }}
{{ $claim := .Params }}

{{ $.Scratch.Set (printf "claim::%s" $claimID) (slice) }}
{{ range $stmt := where $.Site.Pages "Type" "assertion" }}
  {{ if in $stmt.Params.claims $claimID }}
    {{ $claimantID := replaceRE "^/person/([^/]+)/?$" "$1" $stmt.Parent.URL }}
    {{ $key := printf "claim::%s::%s" $claimID $claimantID }}

    {{ $oldData := $.Scratch.Get $key }}
    {{ if $oldData }}
      {{ $.Scratch.Add $key $stmt }}
    {{ else }}
      {{ $.Scratch.Set $key (slice $stmt) }}
      {{ $.Scratch.Add (printf "claim::%s" $claimID) $claimantID }}
    {{ end }}
  {{ end }}
{{ end }}

<section id="truth">
  <h3>The Truth</h3>

  <p>{{ $claim.summary | markdownify }}</p>
</section>

{{ if $claim.related }}
<section id="related">
  <h3>Related Claims</h3>

  <dl>
    {{ range $relClaimId := $claim.related }}
      {{ $relClaim := $.Site.GetPage "taxonomy" "claims" $relClaimId }}
      <dt><a href="{{ $relClaim.URL }}">{{ $relClaim.Title | title }}</a></dt>
      <dd>{{ $relClaim.Params.summary | markdownify }}</dd>
    {{ end }}
  </dl>
</section>
{{ end }}

{{ if .Content }}
  <section id="details">
    <h3>Details</h3>

    {{ .Content }}
  </section>
{{ end }}

{{ if .Params.topics }}
<section id="topics">
  <h3>Topics</h3>

  <ul>
    {{ range $topicId := .Params.topics }}
      {{ $topic := $.Site.GetPage "taxonomy" "topics" $topicId }}
      <li class="list-inline-item">
        <a href="{{ $topic.URL }}" class="btn btn-sm btn-outline-primary">
          {{ $topic.Title }}
          <span class="badge badge-secondary">{{ len $topic.Data.Pages }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}

<section id="claimants">
  <h3>Claimants</h3>

  <ul class="claimants-list">
    {{ range $claimantID := ($.Scratch.Get (printf "claim::%s" $claimID)) }}
      {{ $claimant := $.Site.GetPage "section" "person" $claimantID }}
      {{ $statements := $.Scratch.Get (printf "claim::%s::%s" $claimID $claimantID) }}
      {{ $stmtCount := len $statements }}
      <li>
        <img src="/person/{{ $claimantID }}-48x.jpg" />
        <span>
          {{ $claimant.Title }}
          {{ if gt $stmtCount 1 }}
            × {{ len $statements }}
          {{ end }}
        </span>
      </li>
    {{ end }}
  </ul>
</section>

<section id="fact-checks">
  <h3>Statements</h3>

  {{ $claimId := replaceRE "^/claims/(.*)/$" "$1" $.URL }}
  <ul class="quote-list">
    {{ range $stmt := where $.Site.Pages "Type" "assertion" }}
      {{ if in $stmt.Params.claims $claimId }}
        <li>
          {{ partial "quote.html" (dict "page" $ "stmt" $stmt) }}
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>

<p>
  Did we miss one? <a href="{{ relref . "faq.md" }}#how-can-i-contact-you">Let us know</a>!
</p>

{{ partial "footer.html" . }}
