{{ partial "head.html" . }}

{{ if .Content }}
<section>
  {{ .Content }}
</section>
{{ end }}

<section>
<h2>People</h2>

<ul class="content-list person-list">
  {{ range $person := $.Paginator.Pages }}
    <li>
      {{ partial "person-card" $person }}
    </li>
  {{ end }}
</ul>

<ul>
  {{ range $person := where (where .Site.Pages "Type" "person") "Kind" "page" }}
    {{ if $person.Params.groups }}
      {{ range $group := $person.Params.groups }}
        {{ if eq $group $.File.BaseFileName }}
          <li>
            <a href="{{ $person.Permalink }}">{{ $person.Title }}</a>
            {{ if $person.Params.offices }}
              —
              {{ range $office := first 1 $person.Params.offices }}
                {{ $office.title }}
                {{ if $office.thru }}
                  ({{ dateFormat "2006" $office.from }}{{ if sub (int (dateFormat "2006" $office.thru)) (int (dateFormat "2006" $office.from)) }} - {{ if $office.thru }}{{ dateFormat "2006" $office.thru }}{{ end }}{{ end }})
                {{ end }}
              {{ end }}
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
</section>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
