{{ partial "head.html" . }}

<section>
  <ul class="subtle-list">
    {{ range $group := $.Paginator.Pages }}
      <li>
        <h4><a href="{{ $group.Permalink }}">{{ $group.Title }}</a></h4>
        <ol class="content-list person-list">
          {{ range $person := $group.Data.Pages }}
            <li>
              {{ partial "person-card" $person }}
            </li>
          {{ end }}
        </ol>
      </li>
    {{ end }}
  </ul>
</section>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
