{{ partial "head.html" . }}

{{ $checkerId := replaceRE "^.*/checker/([^/]+)/?$" "$1" $.URL }}

{{ if .Content }}
  {{ .Content }}
{{ end }}

<section>
  <h3>Statements Checked by {{ .Title }}</h3>

  <ul class="subtle-list">
    {{ range $stmt := where $.Site.Pages "Type" "assertion" }}
      {{ range $check := $stmt.Params.checks }}
        {{ if eq $check.checker $checkerId }}
          <li>
            {{ partial "quote.html" (dict "page" $ "stmt" $stmt) }}
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
