ol.offices-held {
    list-style-type: none;
    padding: 0;
}

ul.fact-check-links {
    list-style-type: none;
    padding: 0;
    float: right;
}

main.person div.lie-counter {
    clear: right;
}

ul.fact-check-links > li {
    padding: 0 0.5em;
    display: inline-block;
}

dl.claims {
    margin-left: 1em;
}

dl.claims > dd {
    margin-bottom: 3em;
    margin-left: 1em;
}

dl.claims > dd blockquote {
    font-size: 100%;
}

#menu-content h1 {
    text-transform: none;
    font-variant: small-caps;
}

.content-list,
.claim-list {
    list-style-type: none;
    padding: 0;
}

.content-list .content-name,
.claim-list .claim {
    font-family: 'Oswald',sans-serif;
}

.person-list .content-name {
    font-size: 175%;
    display: inline;
}

.content-list > li {
    margin-top: 1em;
    font-weight: 500;
}

.person-list .content-claim-count {
    font-size: 133%;
    display: inline;
}

.content-list .content-claim-count:before {
    content: " — ";
}

.claim-list > li {
    margin-bottom: 1em;
}

.claim-list .claim {
    font-size: 133%;
}
