{{ partial "head.html" . }}

<main class="person">
  <header>
    <ul class="fact-check-links">
      {{ if .Params.politifact }}
        <li>
	  <a href="http://www.politifact.com/personalities/{{ .Params.politifact }}/"><img src="{{ .Site.BaseURL }}/img/PolitiFact.png" alt="PolitiFact" /></a>
	</li>
      {{ end }}
      {{ if .Params.factcheckorg }}
        <li>
	  <a href="http://www.factcheck.org/person/{{ .Params.factcheckorg }}/"><img src="{{ .Site.BaseURL }}/img/FactCheck.org.png" alt="FactCheck.org" /></a>
	</li>
      {{ end }}
      {{ if .Params.snopes }}
        <li>
	  <a href="http://www.snopes.com/tag/{{ .Params.factcheckorg }}/"><img src="{{ .Site.BaseURL }}/img/Snopes.png" alt="Snopes" /></a>
	</li>
      {{ end }}
      {{ if .Params.washingtonPost }}
        <li>
	  <a href="https://www.washingtonpost.com/news/fact-checker/wp/category/{{ .Params.washingtonPost }}/"><img src="{{ .Site.BaseURL }}/img/WashingtonPost.png" alt="WashingtonPost" /></a>
	</li>
      {{ end }}
    </ul>

    <h1>{{ .Params.Title }}</h1>

    <div class="lie-counter">
      <p>
        {{ $claimCount := .Params.claims | len }}
	      We currently have {{ $claimCount }} distict false
        claim{{ if sub $claimCount 1 }}s{{ end }} made
	by {{ .Params.Title }} in our database (not counting repeats).
      </p>
    </div>

    <h4>Offices Held</h4>

    <ol class="offices-held">
    {{ range $office := .Params.offices }}
      <li>
	{{ $office.title }} {{ if $office.from }}({{ dateFormat "2006" $office.from }}-{{ if $office.thru }}{{ dateFormat "2006" $office.thru }}{{ end }}){{ end }}
      </li>
    {{ end }}
    </ol>

    {{ if .Params.affiliations }}
      <h4>Affiliations</h4>

      <ul class="affiliations">
        {{ range $affiliation := .Params.affiliations }}
          {{ $group := $.Site.GetPage "page" "group" (printf "%s.md" $affiliation) }}
          <li>
            <a href="{{ $group.Permalink }}">{{ $group.Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </header>

  <article>
    <h2>False Claims</h2>

    <dl>
      {{ $pages := .Site.Pages }}
      {{ range $claim := .Params.claims }}
      {{ $claimURL := printf "/claim/%s/" $claim.id }}

      {{ range $claimPage := where $pages "Type" "claim" }}
      {{ if eq $claimPage.URL $claimURL }}

      <dt id="claim-{{ $claim.id }}">
	<h3><a href="/claim/{{ $claim.id }}">{{ $claimPage.Title }}</a></h3>
      </dt>

      <dd>
	<div class="claim-quotes">
	  {{ range $assertion := $claim.assertions }}
	  <blockquote>
	    <p>{{ $assertion.quote | markdownify }}</p>

	    <footer>
	      <cite>
		{{ if $assertion.source }}<a href="{{ $assertion.source }}">{{ end }}
		{{ $.Title }}
  		{{ if $assertion.date }}
  		  on {{ $assertion.date }}
		{{ end }}
		{{ if $assertion.source }}</a>{{ end }}
	      </cite>
	    </footer>
	  </blockquote>

	  {{ if $assertion.checks }}
            <dl class="dl-horizontal assertion-check-list">
              {{ range $check := $assertion.checks }}
                {{ range $checker := where $.Site.Pages "URL" (printf "/checker/%s/" $check.checker) }}
                  <dt>
                    <a href="{{ $check.source }}">
                      {{ if isset $checker.Params "abbr" }}
                        <abbr title="{{ $checker.Title }}">{{ $checker.Params.abbr }}</abbr>
                      {{ else }}
                        {{ $checker.Title }}
                      {{ end }}
                    </a>
                  </dt>
                  <dd>
                    {{ humanize $check.rating }}
                  </dd>
                {{ end }}
              {{ end }}
	    </dl>
	  {{ end }}
	  {{ end }}
	</div>

	{{ if $claimPage.Params.summary }}
	<div>
	  <h4>The Truth</h4>

	  <p>
	    {{ $claimPage.Params.summary | markdownify }}
	  </p>
	</div>
	{{ end }}
      </dd>

      {{ end }}
      {{ end }}
      {{ end }}
    </dl>
  </article>
</main>

<div id="bottom-nav" class="text-center center-block">
  <a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ partial "footer.html" . }}
