
      </article>
    </main>

    <footer>
      <ul>
        <li><a href="{{ .Site.BaseURL }}faq"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
        <li><a href="{{ .Site.BaseURL }}license"><i class="fa fa-creative-commons" aria-hidden="true"></i> Copyright</a></li>
        <li><a href="https://twitter.com/factopolisdb"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li><a href="https://gitter.im/factopolis/"><i class="fa fa-comments" aria-hidden="true"></i> Chat</a></li>
        <li><a href="https://medium.com/@factopolis"><i class="fa fa-medium" aria-hidden="true"></i> Blog</a></li>
        <li><a href="{{ .Site.BaseURL }}contributing"><i class="fa fa-github" aria-hidden="true"></i> Contributing</a></li>
        <!-- <li><a href="#"><i class="fa fa-code" aria-hidden="true"></i> API</a></li> -->
      </ul>
    </footer>
  </body>
</html>
