<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>
    {{ if not (eq .Page.Kind "home") }}
      {{ .Title }} ·
    {{ end }}
    {{ .Site.Title }}
  </title>

  {{ range .Params.css }}
  <link rel="stylesheet" href="{{ . }}"> {{ end }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {{ if .Params.highlight }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css"> {{ end }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/factopolis.css"> {{ if .Site.RSSLink }}
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }} {{ if isset .Site.Params "favicon" }}
  <link rel="icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}" /> {{ end }}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <base href="{{ .Site.BaseURL }}" />
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
       </button>

        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{ range .Site.Params.navlinks }}
            <li><a href="{{ .Site.BaseURL }}{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div id="menu" class="hidden-xs col-sm-4 col-md-3">
        <div id="links" class="text-center">
          {{ range .Site.Params.navlinks }}
            <a href="{{ $.Site.BaseURL }}{{ .url }}">{{ .name }}</a>
          {{ end }}
        </div>
        <div id="menu-content" class="vertical-align">
          <h1 class="text-center">
            <a href="{{ .Permalink }}">
              {{ if and (eq .Page.Type "claim") (eq .Page.Kind "page") }}
                Claim:
              {{ end }}
              {{ .Title }}
            </a>
          </h1>
          {{ if isset .Params "picture" }}
            <img id="profile-pic" src="{{ .Params.picture }}" alt="{{ .Title }}" class="img-circle center-block">
          {{ end }}

          <div id="social" class="text-center">
            {{ if .Params.wikipedia }}
              <a href="https://en.wikipedia.org/wiki/{{ .Params.wikipedia }}"><i class="fa fa-wikipedia-w fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.web }}
              <a href="{{ .Params.web }}"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.twitter }}
              <a href="https://twitter.com/{{ .Params.twitter }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.facebook }}
              <a href="https://facebook.com/{{ .Params.facebook }}"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.instagram }}
              <a href="https://www.instagram.com/{{ .Params.instagram }}"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.snapchat }}
              <a href="https://www.snapchat.com/add/{{ .Params.snapchat }}"><i class="fa fa-snapchat fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.youtube }}
              <a href="https://www.youtube.com/user/{{ .Params.youtube }}"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
            {{ end }}
            {{ if .Params.medium }}
              <a href="https://medium.com/{{ .Params.medium }}"><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
            {{ end }}
          </div>
        </div>
      </div>

      <div id="content" class="col-xs-12 col-sm-8 col-md-9">
        <div class="row">
          <main id="post" class="col-sm-offset-1 col-sm-10 col-md-10 col-lg-8">
            {{ if or (eq .Page.Type "claim") (eq .Page.Type "person") }}
            {{ end }}
