<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>
      {{ if and (ne .Title .Site.Title) (ne .Title "") }}
        {{ .Title }} ·
      {{ end }}
      {{ .Site.Title }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ if eq .Page.Type "assertion" }}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@factopolisdb" />
      <meta name="twitter:title" content="{{ .Parent.Title }} on {{ dateFormat "2006-01-02" .Date }}" />
      <meta name="twitter:description" content="{{ .Params.quote | markdownify | chomp }}" />
      {{ if .Parent.Params.images }}
      <meta name="twitter:image" content="{{ replaceRE "/?$" ".jpg" .Parent.Permalink }}" />
      {{ end }}
      {{ if .Parent.Params.twitter }}<meta name="twitter:creator" content="{{ .Parent.Params.twitter }}" />{{ end }}
    {{ end }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs=" crossorigin="anonymous"></script>

    <style type="text/css"> .noscript { display: none; } </style>
    <noscript>
      <style type="text/css">
        .noscript { display: initial; }
        .yesscript { display: none; }
      </style>
    </noscript>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/style.css">

    {{ if $.Params.extraCSS }}
      {{ range $css := $.Params.extraCSS }}
        <link rel="stylesheet" href="{{ $css.url }}" {{ if $css.sri }}integrity="{{ $css.sri }}"{{ end }} {{ if $css.anonymous }}crossorigin="anonymous"{{ end }} />
      {{ end }}
    {{ end }}

    {{ if $.Site.Params.Dart }}
      <script defer type="application/dart" src="{{ .Site.BaseURL }}main.dart"></script>
      <script defer src="{{ .Site.BaseURL }}packages/browser/dart.js"></script>
    {{ end }}

    {{ if $.Params.extraJS }}
      {{ range $js := $.Params.extraJS }}
        <script {{ if $js.defer }}defer{{ end }} type="text/javascript" src="{{ $js.url }}" {{ if $js.sri }}integrity="{{ $js.sri }}"{{ end }} {{ if $js.anonymous }}crossorigin="anonymous"{{ end }}></script>
      {{ end }}
    {{ end }}

    <script defer type="text/javascript" src="{{ $.Site.BaseURL }}js/factopolis.js"></script>
    <script defer type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <base href="{{ .Site.BaseURL }}" />
  </head>
  <body>
    <factopolis-app>
      {{ if $.Site.Params.Dart }}
        <div class="yesscript text-center loading-screen">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <div class="sr-only">Loading…</div>
        </div>
      {{ end }}

      <header class="{{ if $.Site.Params.Dart }} noscript{{ end }}">
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>

        <nav>
          <ul>
            <li>
              <a {{ if hasPrefix $.Page.URL "/person/" }}class="active" {{ end }}href="{{ $.Site.BaseURL }}person">People</a>
            </li>
            <li>
              <a {{ if hasPrefix $.Page.URL "/claims/" }}class="active" {{ end }}href="{{ $.Site.BaseURL }}claims">Claims</a>
            </li>
            <li>
              <a {{ if hasPrefix $.Page.URL "/themes/" }}class="active" {{ end }}href="{{ $.Site.BaseURL }}themes">Themes</a>
            </li>
            <li>
              <a {{ if hasPrefix $.Page.URL "/groups/" }}class="active" {{ end }}href="{{ $.Site.BaseURL }}groups">Groups</a>
            </li>
          </ul>
        </nav>
      </header>

      <main{{ if $.Site.Params.Dart }} class="noscript"{{ end }}>
        <header>
          <div>
            <div class="sticky-middle">
              <h2><a href="{{ .Page.URL }}">{{ .Page.Title | title }}</a></h2>

              {{ if eq .Type "assertion" }}
                {{ $.Scratch.Set "headerPage" $.Parent }}
              {{ else }}
                {{ $.Scratch.Set "headerPage" $ }}
              {{ end }}
              {{ $headerPage := $.Scratch.Get "headerPage" }}

              {{ if $headerPage.Params.images }}
                {{ if $headerPage.Params.images.photo }}
                  <img class="profile-pic" alt="{{ .Page.Title }}" src="{{ replaceRE "/?$" ".jpg" $headerPage.URL }}" />
                  <div class="profile-pic-copyright">
                    {{ if $headerPage.Params.images.photo.author }}
                      Photo by
                      {{ if $headerPage.Params.images.photo.author.url }}
                        <a href="{{ $headerPage.Params.images.photo.author.url }}">{{ $headerPage.Params.images.photo.author.name }}</a>
                      {{ else }}
                        {{ $headerPage.Params.images.photo.author.name }}
                      {{ end }}
                    {{ end }}
                    {{ if or $headerPage.Params.images.photo.license $headerPage.Params.images.photo.source }}
                      ({{ if $headerPage.Params.images.photo.license }}{{ if $headerPage.Params.images.photo.license.url }}<a href="{{ $headerPage.Params.images.photo.author.url }}">{{ $headerPage.Params.images.photo.license.name }}</a>{{ else }}{{ $headerPage.Params.images.photo.license.name }}{{ end }}{{ end }}{{ if $headerPage.Params.images.photo.source }}{{ if $headerPage.Params.images.photo.license }}, {{ end }}courtesy of {{ if $headerPage.Params.images.photo.source.url }}<a href="{{ $headerPage.Params.images.photo.source.url }}">{{ $headerPage.Params.images.photo.source.name }}</a>{{ else }}{{ $headerPage.Params.images.photo.source.name }}{{ end }}{{ end }})
                    {{ end }}
                  </div>
                {{ end }}
              {{ end }}

              <ul class="links">
                {{ if $headerPage.Params.web }}
                  <li>
                    <a href="{{ $headerPage.Params.web }}">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      <span class="sr-only">Web Site</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.feed }}
                  <li>
                    <a href="{{ $headerPage.Params.feed }}">
                      <i class="fa fa-rss" aria-hidden="true"></i>
                      <span class="sr-only">Feed</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.wikipedia }}
                  <li>
                    <a href="https://en.wikipedia.org/wiki/{{ $headerPage.Params.wikipedia }}">
                      <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                      <span class="sr-only">Wikipedia</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.twitter }}
                  <li>
                    <a href="https://twitter.com/{{ $headerPage.Params.twitter }}">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                      <span class="sr-only">Twitter</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.facebook }}
                  <li>
                    <a href="https://facebook.com/{{ $headerPage.Params.facebook }}">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      <span class="sr-only">Facebook</span>
                  </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.instagram }}
                  <li>
                    <a href="https://www.instagram.com/{{ $headerPage.Params.instagram }}">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                      <span class="sr-only">Instagram</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.snapchat }}
                  <li>
                    <a href="https://www.snapchat.com/add/{{ $headerPage.Params.snapchat }}">
                      <i class="fa fa-snapchat" aria-hidden="true"></i>
                      <span class="sr-only">Snapchat</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.youtube }}
                  <li>
                    <a href="https://www.youtube.com/user/{{ $headerPage.Params.youtube }}">
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                      <span class="sr-only">Youtube</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.vimeo }}
                  <li>
                    <a href="https://vimeo.com/{{ $headerPage.Params.vimeo }}">
                      <i class="fa fa-vimeo" aria-hidden="true"></i>
                      <span class="sr-only">Vimeo</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.medium }}
                  <li>
                    <a href="https://medium.com/{{ $headerPage.Params.medium }}">
                      <i class="fa fa-medium" aria-hidden="true"></i>
                      <span class="sr-only">Flickr</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.flickr }}
                  <li>
                    <a href="https://www.flickr.com/photos/{{ $headerPage.Params.flickr }}">
                      <i class="fa fa-flickr" aria-hidden="true"></i>
                      <span class="sr-only">Flickr</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.tumblr }}
                  <li>
                    <a href="https://{{ $headerPage.Params.tumblr }}.tumblr.com">
                      <i class="fa fa-tumblr" aria-hidden="true"></i>
                      <span class="sr-only">Tumblr</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.pinterest }}
                  <li>
                    <a href="https://pinterest.com/{{ $headerPage.Params.pinterest }}">
                      <i class="fa fa-pinterest" aria-hidden="true"></i>
                      <span class="sr-only">Pinterest</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.googleplus }}
                  <li>
                    <a href="https://plus.google.com/+{{ $headerPage.Params.googleplus }}">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                      <span class="sr-only">Google+</span>
                    </a>
                  </li>
                {{ end }}
                {{ if $headerPage.Params.linkedin }}
                  <li>
                    <a href="https://linkedin.com/+{{ $headerPage.Params.linkedin }}">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                      <span class="sr-only">LinkedIn</span>
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </header>

        <div class="content-wrapper">
          <article{{ if $.Site.Params.Dart }} class="noscript"{{ end }}>
