<blockquote>
  <div class="quote-contents">
    {{ if $.Params.retraction }}<del>{{end}}
    {{ if $.Params.quote }}
      <p>
        {{ $.Params.quote | markdownify }}
      </p>
    {{ end }}
    {{ if $.Params.retraction }}</del>{{end}}
  </div>

  <footer>
    <cite>
      <div>
        <a href="{{ $.Parent.Permalink }}">{{ $.Parent.Title }}</a>{{ if $.Params.where }},{{ else }} on {{ end }}
          {{ if $.Params.sources }}
            <span class="dropdown show">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ if $.Params.where }}
                  {{ $.Params.where | title }}
                {{ else }}
                  <time datetime="{{ $.Params.date }}">
                    {{ $.Date | dateFormat "Jan 2, 2006" }}
                  </time>
                {{ end }}
              </a>
              <div class="dropdown-menu">
                {{ range $source := $.Params.sources }}
                  {{ if eq $source.type "youtube" }}
                    <a class="dropdown-item" {{ if $source.start }}data-start-time="{{ $source.start }}" {{ if $source.duration }}data-end-time="{{ add $source.start $source.duration }}"{{ end }}{{ end }} href="https://www.youtube.com/watch?v={{ $source.id }}{{ if $source.start }}&amp;t={{ $source.start }}{{  end }}">
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                      YouTube
                    </a>
                  {{ else if eq $source.type "transcript" }}
                   <a class="dropdown-item" href="{{ $source.url }}">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                      Transcript
                      ({{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }})
                    </a>
                  {{ else if eq $source.type "audio" }}
                    <audio class="dropdown-item" controls preload="none" src="{{ $source.url }}{{ if $source.start }}#t={{ $source.start }}{{ if $source.duration }},{{ add $source.start $source.duration }}{{ end }}{{ end }}">
                      <a href="{{ $source.url }}">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                        Audio
                        {{ if $source.start }}
                          {{ if or $source.start $source.duration }}
                            {{ $startTime := default 0 $source.start }}
                            (
                              {{ printf "%d:%02d" (div $startTime 60) (mod $startTime 60) }}
                              {{ if $source.duration }}
                                -
                                {{ $endTime := add $startTime $source.duration }}
                                {{ printf "%d:%02d" (div $endTime 60) (mod $endTime 60) }}
                              {{ end }}
                            )
                          {{ end }}
                        {{ end }}
                      </a>
                    </audio>
                  {{ else if eq $source.type "video" }}
                    <a class="dropdown-item video-link" {{ if gt $source.start 0.0 }}data-start-time="{{ $source.start }}"{{ end }} {{ if $source.duration }}data-duration="{{ $source.duration }}"{{ end }} href="{{ $source.url }}">
                      <i class="fa fa-film" aria-hidden="true"></i>
                      Video
                      {{ if or $source.start $source.duration }}
                        {{ $startTime := default 0 $source.start }}
                        (
                          {{ printf "%d:%02d" (div $startTime 60) (mod $startTime 60) }}
                          {{ if $source.duration }}
                            -
                            {{ $endTime := add $startTime $source.duration }}
                            {{ printf "%d:%02d" (div $endTime 60) (mod $endTime 60) }}
                          {{ end }}
                        )
                      {{ end }}
                    </a>
                  {{ else if eq $source.type "web" }}
                    <a class="dropdown-item" href="{{ $source.url }}">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                      {{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }}
                    </a>
                  {{ else if eq $source.type "twitter" }}
                    <a class="dropdown-item twitter-link" data-tweet="{{ $source.id }}" href="https://twitter.com/{{ $source.user }}/status/{{ $source.id }}">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                      Twitter (@{{ $source.user }})
                    </a>
                  {{ else }}
                    <span clas="dropdown-item">Unknown type</span>
                  {{ end }}
                {{ end }}
              </div>
            </span>
        {{ else }}
          <span class="dropdown show">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <time datetime="{{ $.Params.date }}">
                {{ $.Date | dateFormat "Jan 2, 2006" }}
              </time>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ $.Params.source }}">
                <i class="fa fa-globe" aria-hidden="true"></i>
                {{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $.Params.source }}
              </a>
            </div>
          </span>
        {{ end }}
        {{ if $.Params.where }}
          <time datetime="{{ $.Params.date }}">
            on {{ $.Date | dateFormat "Jan 2, 2006" }}
          </time>
        {{ end }}
      </div>
      {{ if $.Params.retraction }}
        <div class="retraction">
          {{ if eq $.Params.retraction.type "clarification" }}
            Clarified
          {{ else }}
            Retracted
          {{ end }}

          {{ if $.Params.retraction.issuer }}
            by

            {{ if $.Params.retraction.issuer.position }}
              {{ $.Params.retraction.issuer.position }}
            {{ end }}

            {{ if $.Params.retraction.issuer.id }}
              {{ $retractor := $.Site.GetPage "section" "person" $.Params.retraction.issuer.id }}
              {{ if $retractor }}
                <a href="{{ $retractor.Permalink }}">
                  {{ $retractor.Title }}
                </a>
              {{ else }}
                {{ (replace $.Params.retraction.issuer.id "-" " ") | humanize }}
              {{ end }}
            {{ else }}
              {{ $.Params.retraction.issuer.name }}
            {{ end }}
          {{ end }}

          on

          <a href="{{ $.Params.retraction.source }}">
            <time datetime="{{ $.Params.retraction.date }}">
              {{ $.Params.retraction.date | dateFormat "Jan 2, 2006" }}
            </time>
          </a>
        </div>
      {{ end }}
    </cite>

    {{ if $.Params.checks }}
      <ul class="fact-checks">
        {{ range $check := $.Params.checks }}
        {{ $checker := $.Site.GetPage "page" "checker" (printf "%s.md" $check.checker) }}
          <li>
            {{ if $checker }}
              <a class="check-source" href="{{ $check.source }}">
                {{ if $checker.Params.abbr }}
                  <abbr title="{{ $checker.Title }}">{{ $checker.Params.abbr }}</abbr>
                {{ else }}
                  {{ $checker.Title }}
                {{ end }}
              </a>
            {{ end }}
            {{ if $check.rating }}
              <span class="check-rating">{{ humanize $check.rating }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ if $.Params.claims }}
      <dl class="claims">
        {{ range $claimID := $.Params.claims }}
          {{ $claim := $.Site.GetPage "taxonomy" "claims" $claimID }}
          <dt><a href="{{ $claim.Permalink }}">{{ $claim.Title }}</a></dt>
          <dd class="truth">
            {{ $claim.Params.summary | markdownify }}
          </dd>
        {{ end }}
      </dl>
    {{ end }}
  </footer>
</blockquote>