{{ $page := index $ 0 }}
{{ $stmt := index $ 1 }}
<blockquote>
  <div class="quote-contents">
    {{ if $stmt.Params.retraction }}<del>{{end}}
    {{ if $stmt.Params.quote }}
      <p>
        {{ $stmt.Params.quote | markdownify }}
      </p>
    {{ end }}
    {{ if $stmt.Params.retraction }}</del>{{end}}
  </div>

  <footer>
    <cite>
      <div>
        <a href="{{ $stmt.Parent.Permalink }}">{{ $stmt.Parent.Title }}</a>{{ if $stmt.Params.where }},{{ else }} on {{ end }}
        <span class="dropdown show">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ if $stmt.Params.where }}
              {{ $stmt.Params.where | title }}
            {{ else }}
              <time datetime="{{ $stmt.Params.date }}">
              {{ $stmt.Date | dateFormat "Jan 2, 2006" }}
              </time>
            {{ end }}
          </a>
          <div class="dropdown-menu">
            {{ range $source := $stmt.Params.sources }}
              {{ if eq $source.type "youtube" }}
                <a class="dropdown-item" {{ if $source.start }}data-start-time="{{ $source.start }}" {{ if $source.duration }}data-end-time="{{ add $source.start $source.duration }}"{{ end }}{{ end }} href="https://www.youtube.com/watch?v={{ $source.id }}{{ if $source.start }}&amp;t={{ $source.start }}{{  end }}" target="_blank">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                  YouTube {{ partial "time-range.html" $source }}
                </a>
              {{ else if eq $source.type "transcript" }}
               <a class="dropdown-item" href="{{ $source.url }}" target="_blank">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  Transcript
                  ({{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }})
                </a>
              {{ else if eq $source.type "audio" }}
                <audio class="dropdown-item" controls preload="none" src="{{ $source.url }}{{ if $source.start }}#t={{ $source.start }}{{ if $source.duration }},{{ add $source.start $source.duration }}{{ end }}{{ end }}">
                  <a href="{{ $source.url }}" target="_blank">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                    Audio {{ partial "time-range.html" $source }}
                  </a>
                </audio>
              {{ else if eq $source.type "video" }}
                <a class="dropdown-item video-link" {{ if gt $source.start 0.0 }}data-start-time="{{ $source.start }}"{{ end }} {{ if $source.duration }}data-duration="{{ $source.duration }}"{{ end }} href="{{ $source.url }}" target="_blank">
                  <i class="fa fa-film" aria-hidden="true"></i>
                  Video {{ partial "time-range.html" $source }}
                </a>
              {{ else if eq $source.type "web" }}
                <a class="dropdown-item" href="{{ $source.url }}" target="_blank">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  {{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }}
                  {{ partial "time-range.html" $source }}
                </a>
              {{ else if eq $source.type "twitter" }}
                <a class="dropdown-item twitter-link" data-tweet="{{ $source.id }}" href="https://twitter.com/{{ $source.user }}/status/{{ $source.id }}">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  Twitter (@{{ $source.user }})
                </a>
              {{ end }}
            {{ end }}
          </div>
        </span>
        {{ if $stmt.Params.where }}
          on
          <time datetime="{{ $stmt.Params.date }}">
            {{ $stmt.Date | dateFormat "Jan 2, 2006" }}
          </time>
        {{ end }}
      </div>
      {{ if $stmt.Params.retraction }}
        <div class="retraction">
          {{ if eq $stmt.Params.retraction.type "clarification" }}
            Clarified
          {{ else }}
            Retracted
          {{ end }}

          {{ if $stmt.Params.retraction.issuer }}
            by

            {{ if $stmt.Params.retraction.issuer.position }}
              {{ $stmt.Params.retraction.issuer.position }}
            {{ end }}

            {{ if $stmt.Params.retraction.issuer.id }}
              {{ $stmtretractor := $stmt.Site.GetPage "section" "person" $stmt.Params.retraction.issuer.id }}
              {{ if $stmtretractor }}
                <a href="{{ $stmtretractor.Permalink }}">
                  {{ $stmtretractor.Title }}
                </a>
              {{ else }}
                {{ (replace $stmt.Params.retraction.issuer.id "-" " ") | humanize }}
              {{ end }}
            {{ else }}
              {{ $stmt.Params.retraction.issuer.name }}
            {{ end }}
          {{ end }}

          on

          <a href="{{ $stmt.Params.retraction.source }}">
            <time datetime="{{ $stmt.Params.retraction.date }}">
              {{ $stmt.Params.retraction.date | dateFormat "Jan 2, 2006" }}
            </time>
          </a>
        </div>
      {{ end }}
    </cite>

    {{ if $stmt.Params.checks }}
      <ul class="fact-checks">
        {{ range $stmtcheck := $stmt.Params.checks }}
        {{ $stmtchecker := $stmt.Site.GetPage "page" "checker" (printf "%s.md" $stmtcheck.checker) }}
          <li>
            {{ if $stmtchecker }}
              <a class="check-source" href="{{ $stmtcheck.source }}">
                {{ if $stmtchecker.Params.abbr }}
                  <abbr title="{{ $stmtchecker.Title }}">{{ $stmtchecker.Params.abbr }}</abbr>
                {{ else }}
                  {{ $stmtchecker.Title }}
                {{ end }}
              </a>
            {{ end }}
            {{ if $stmtcheck.rating }}
              <span class="check-rating">{{ humanize $stmtcheck.rating }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ if $stmt.Params.claims }}
      <dl class="claims">
        {{ range $stmtclaimID := $stmt.Params.claims }}
          {{ $stmtclaim := $stmt.Site.GetPage "taxonomy" "claims" $stmtclaimID }}
          <dt><a href="{{ $stmtclaim.Permalink }}">{{ $stmtclaim.Title }}</a></dt>
          <dd class="truth">
            {{ $stmtclaim.Params.summary | markdownify }}
          </dd>
        {{ end }}
      </dl>
    {{ end }}
  </footer>
</blockquote>
