{{ $slug := replaceRE "^.*/([^/]+)/?$" "$1" $.page.URL }}
{{ $claimantId := replaceRE "/person/(.+)/" "$1" $.stmt.Parent.URL }}
<div class="statement">
  <div class="statement-gutter">
    {{ if ne $.stmt.Parent.UniqueID $.page.UniqueID }}
      <a href="{{ $.stmt.Parent.URL }}">
        <img src="{{ replaceRE "/?$" "-64.jpg" $.stmt.Parent.URL }}" alt="{{ $.stmt.Parent.Title }}" />
      </a>
    {{ else }}
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
      </span>
    {{ end }}
  </div>
  <div class="statement-contents">
    <blockquote>
      {{ if $.stmt.Params.retraction }}<del class="{{ default "retraction" $.stmt.Params.retraction.type }}">{{ end }}
      <div>{{ $.stmt.Params.quote | markdownify }}</div>
      {{ if $.stmt.Params.retraction }}</del>{{ end }}
    </blockquote>
    <div class="statement-source">
      {{ if ne $.stmt.Parent.UniqueID $.page.UniqueID }}
        <a href="{{ $.stmt.Parent.URL }}">{{ $.stmt.Parent.Title }}</a>{{ if $.stmt.Parent.Params.offices }},
          <span>
            {{ $office := index $.stmt.Parent.Params.offices 0 }}
            {{ $office.title }}
            {{ if $office.thru }}
              ({{ dateFormat "2006" $office.from }}{{ if sub (int (dateFormat "2006" $office.thru)) (int (dateFormat "2006" $office.from)) }} - {{ if $office.thru }}{{ dateFormat "2006" $office.thru }}{{ end }}{{ end }})
            {{ end }}
          </span>
        {{ end }}
        <br />
      {{ end }}
      <span class="dropdown show">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ if $.stmt.Params.where }}
            {{ $.stmt.Params.where | title }}
          {{ else }}
            <time datetime="{{ $.stmt.Params.date }}">
              {{ $.stmt.Date | dateFormat "Jan 2, 2006" }}
            </time>
          {{ end }}
        </a>
        <div class="dropdown-menu">
          {{ range $source := $.stmt.Params.sources }}
            {{ if eq $source.type "youtube" }}
              <a class="dropdown-item" {{ if $source.start }}data-start-time="{{ $source.start }}" {{ if $source.duration }}data-end-time="{{ add $source.start $source.duration }}"{{ end }}{{ end }} href="https://www.youtube.com/watch?v={{ $source.id }}{{ if $source.start }}&amp;t={{ $source.start }}{{  end }}" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
                YouTube {{ partial "time-range.html" $source }}
              </a>
            {{ else if eq $source.type "prepared" }}
             <a class="dropdown-item" href="{{ $source.url }}" target="_blank">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                Prepared Remarks
                ({{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }})
              </a>
            {{ else if eq $source.type "transcript" }}
             <a class="dropdown-item" href="{{ $source.url }}" target="_blank">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Transcript
                ({{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }})
              </a>
            {{ else if eq $source.type "audio" }}
              <audio class="dropdown-item" controls preload="none" src="{{ $source.url }}{{ if $source.start }}#t={{ $source.start }}{{ if $source.duration }},{{ add $source.start $source.duration }}{{ end }}{{ end }}"></audio>
              {{ if $source.source }}
                <a class="dropdown-item" href="{{ $source.source }}">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                  {{ default (replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.source) $source.name }}
                  {{ partial "time-range.html" $source }}
                </a>
              {{ end }}
            {{ else if eq $source.type "archive-org" }}
              {{ $end_time := add $source.start (cond (gt $source.duration 10) $source.duration 10) }}
              {{ $end_timef := add $source.start $source.duration }}
              {{ partial "video-link.html" (dict "name" "Archive.org" "iframe" (printf "https://archive.org/embed/%s?start=%v&end=%v" $source.id $source.start $end_time) "source" (printf "https://archive.org/details/%s/start/%v/end/%v/" $source.id $source.start $end_time) "start" (int $source.start) "duration" (sub (cond (le (int $end_timef) $end_timef) (int (add $end_timef 1)) (int $end_timef)) (int $source.start))) }}
            {{ else if eq $source.type "c-span" }}
              {{ $start_q := cond (gt $source.start 0) (printf "&start=%d" $source.start) "" }}
              {{ partial "video-link.html" (dict "name" "C-SPAN" "start" (default 0 $source.start) "duration" $source.duration "iframe" (printf "https://www.c-span.org/video/standalone/?%s%s" $source.id $start_q) "source" (printf "https://www.c-span.org/video/?%s%s" $source.id $start_q)) }}
            {{ else if eq $source.type "abc" }}
              {{ $start_q := cond (gt $source.start 0) (printf "&ts=%d" $source.start) "" }}
              {{ partial "video-link.html" (dict "name" "ABC News" "start" (default 0 $source.start) "duration" $source.duration "iframe" (printf "//ABCNews.go.com/video/embed?id=%d%s" $source.id $start_q) "source" (printf "http://abcnews.go.com/US/video/id-%d" $source.id)) }}
            {{ else if eq $source.type "fox" }}
              {{ partial "video-link.html" (dict "name" "Fox News" "iframe" (printf "https://video.foxnews.com/static/p/video/app/embed/iframe/vod.html?video_id=%d" $source.id) "source" (printf "http://video.foxnews.com/v/%d/" $source.id) "start" $source.start "duration" $source.duration) }}
            {{ else if eq $source.type "video" }}
              {{ partial "video-link.html" $source }}
            {{ else if eq $source.type "web" }}
              <a class="dropdown-item" href="{{ $source.url }}" target="_blank">
                <i class="fa fa-globe" aria-hidden="true"></i>
                {{ replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $source.url }}
                {{ partial "time-range.html" $source }}
              </a>
            {{ else if eq $source.type "twitter" }}
              <a class="dropdown-item twitter-link" data-tweet="{{ $source.id }}" href="https://twitter.com/{{ $source.user }}/status/{{ $source.id }}" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                Twitter (@{{ $source.user }})
              </a>
            {{ end }}
          {{ end }}
        </div>
      </span>
      {{ if $.stmt.Params.where }}
        on
        <time datetime="{{ $.stmt.Params.date }}">
          <a href="{{ $.stmt.URL }}">{{ $.stmt.Date | dateFormat "Jan 2, 2006" }}</a>
        </time>
      {{ end }}
    </div>

    {{ with $.stmt.Params.retraction }}
      <div class="statement-retraction">
        {{ if eq $.stmt.Params.retraction.type "clarification" }}
          Clarified
        {{ else }}
          Retracted
        {{ end }}
        {{ if .issuer }}
          by
          {{ .issuer.position }}
          {{ if .issuer.id }}
            {{ $issuer := $.page.Site.GetPage "section" "person" .issuer.id }}
            <a href="{{ $issuer.URL }}">{{ $issuer.Title }}</a>
          {{ else if .issuer.name }}
            {{ .issuer.name }}
          {{ end }}
        {{ end }}
        {{ if .date }}
          on
          <a href="{{ .source }}">
            {{ dateFormat "Jan 2, 2006" .date }}
          </a>
        {{ end }}
      </div>
    {{ end }}

    {{ if and (eq $.page.Type "claims") (eq $.page.Kind "taxonomy") }}
      {{ $.page.Scratch.Set "##partials/quote.html/claims" (slice) }}
      {{ range $claim := $.stmt.Params.claims }}
        {{ if ne $claim $slug }}
          {{ $.page.Scratch.Add "##partials/quote.html/claims" $claim }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ $.page.Scratch.Set "##partials/quote.html/claims" $.stmt.Params.claims }}
    {{ end }}

    {{ if ($.page.Scratch.Get "##partials/quote.html/claims") | len }}
      <div class="statement-claims">
        <h4>
          {{ if and (eq $.page.Type "claims") (eq $.page.Kind "taxonomy") }}Other{{ end }}
          Claims
        </h4>
        <dl>
          {{ range $claimId := $.page.Scratch.Get "##partials/quote.html/claims" }}
            {{ $claim := $.page.Site.GetPage "taxonomy" "claims" $claimId }}
            <dt>
              <a href="{{ $claim.URL }}">{{ $claim.Title | title }}</a>
            </dt>
            <dd>
              <div class="statement-claim-truth">
                {{ $claim.Params.summary | markdownify }}
              </div>
              {{ $.page.Scratch.Set "##partials/quote.html/other-claimants" (slice) }}
              {{ range $c := $claim.Data.Pages }}
                {{ $claimant := replaceRE "/person/(.+)/" "$1" $c.Parent.URL }}
                {{ if and (ne $claimant $claimantId) (not (in ($.page.Scratch.Get "##partials/quote.html/other-claimants") $claimant)) }}
                  {{ $.page.Scratch.Add "##partials/quote.html/other-claimants" $claimant }}
                {{ end }}
              {{ end }}
              {{ $others := $.page.Scratch.Get "##partials/quote.html/other-claimants" }}
              {{ if $others }}
                <ol class="list-inline statement-claim-others">
                  {{ range $otherId := $others }}
                    {{ $other := $.stmt.Site.GetPage "section" "person" $otherId }}
                    <li class="list-inline-item">
                      <a href="{{ $other.URL }}">
                        <img title="{{ $other.Title }}" src="{{ $.Site.BaseURL }}/person/{{ $otherId }}-48x.jpg" alt="{{ $other.Title }}" />
                        {{ $other.Title }}
                      </a>
                    </li>
                  {{ end }}
                </ol>
              {{ end }}
              {{ $soName := printf "##partials/quote.html/statementOccurances/%s" $claimId }}
              {{ if or (eq $.page.Type "assertion") (eq $.page.Type "person") }}
                {{ $person := cond (eq $.page.Type "person") $.page $.page.Parent }}
                {{ $person.Scratch.Set $soName (slice) }}
                {{ range $stmt := $person.Pages }}
                  {{ if in $stmt.Params.claims $claimId }}
                    {{ $person.Scratch.Add $soName $stmt }}
                  {{ end }}
                {{ end }}
                {{ $statementOccurances := $person.Scratch.Get $soName }}
                {{ if gt (len $statementOccurances) 1 }}
                  <p>
                    {{ $person.Title }} has made this claim at least {{ len $statementOccurances }}
                    times, from
                    {{ range $stmt := last 1 $statementOccurances }}
                      {{ dateFormat "2006-01-02" $stmt.Date }}
                    {{ end }}
                    thru
                    {{ range $stmt := first 1 $statementOccurances }}
                      {{ dateFormat "2006-01-02" $stmt.Date }}.
                    {{ end }}
                  </p>
                {{ end }}
              {{ end }}
            </dd>
          {{ end }}
        </dl>
      </div>
    {{ end }}

    {{ if $.stmt.Params.checks }}
      <div class="statement-checks">
        <h4>Fact Checks</h4>

        <ul class="subtle-list shuffle">
          {{ range $check := shuffle $.stmt.Params.checks }}
            {{ if or (not $check.claims) (in $check.claims $slug) }}
              {{ if or (ne $.page.Type "checker") (eq $check.checker $slug) }}
                {{ $checker := $.page.Site.GetPage "page" "checker" (printf "%s.md" $check.checker) }}
                <li class="statement-check-full">
                  <div class="statement-check-full-gutter">
                    <a href="{{ $check.source }}">
                      <img src="{{ replaceRE "/?$" "-48x.png" $checker.URL }}" alt="" />
                    </a>
                  </div>
                  <div class="statement-check-full-contents">
                    <blockquote>
                      {{ default $check.short $check.quote | markdownify }}
                    </blockquote>

                    {{ $.page.Scratch.Set "partials/quote.html/rating-search" nil }}
                    {{ if $check.rating }}
                      {{ if $checker.Params.ratings }}
                        {{ range $rating := $checker.Params.ratings }}
                          {{ if eq $rating.id $check.rating }}
                            {{ $.page.Scratch.Set "partials/quote.html/rating-search" $rating }}
                          {{ end }}
                        {{ end }}
                      {{ end }}
                    {{ end }}

                    {{ $rating := $.page.Scratch.Get "partials/quote.html/rating-search" }}
                    {{ if and $rating $rating.img }}
                      <div class="statement-check-full-source-img">
                        {{ if and $rating $rating.img }}
                          <div class="statement-check-full-source-img-rating">
                            <img alt="{{ default ($check.rating | humanize | title) $rating.name }}" title="{{ default ($check.rating | humanize | title) $rating.name }}" src="{{ replaceRE "/?$" (printf "/rating/%s.%s" $rating.id $rating.img) $checker.URL }}" />
                          </div>
                        {{ end }}
                        <div class="statement-check-full-source-name">
                          <a href="{{ $check.source }}">{{ $checker.Title }}</a>
                        </div>
                      </div>
                    {{ else }}
                      <div class="statement-check-full-source-text">
                        <div class="statement-check-full-source-name">
                          <a href="{{ $check.source }}">{{ $checker.Title }}</a>
                        </div>
                        {{ if $check.rating }}
                          <div class="statement-check-full-source-text-rating">
                            {{ $check.rating | humanize | title }}
                          </div>
                        {{ end }}
                      </div>
                    {{ end }}
                  </div>
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</div>

