
  {{ if or $.start $.duration }}
    {{ $startTime := default 0 $.start }}
    (
      {{ if ge $startTime 3600 }}
        {{ printf "%d:%02d:%02d" (div $startTime 3600) (div (mod $startTime 3600) 60) (mod $startTime 60) }}
      {{ else }}
        {{ printf "%d:%02d" (div $startTime 60) (mod $startTime 60) }}
      {{ end }}
      {{ if $.duration }}
        -
        {{ $endTime := add $startTime $.duration }}
        {{ if ge $endTime 3600 }}
          {{ printf "%d:%02d:%02d" (div $endTime 3600) (div (mod $endTime 3600) 60) (mod $endTime 60) }}
        {{ else }}
          {{ printf "%d:%02d" (div $endTime 60) (mod $endTime 60) }}
        {{ end }}
      {{ end }}
    )
  {{ end }}
