<a class="dropdown-item video-link"
  href="{{ default $.iframe (default $.url $.source) }}"
    {{ if gt $.start 0.0 }}data-start="{{ $.start }}"{{ end }}
    {{ if $.duration }}data-duration="{{ $.duration }}"{{ end }}
    {{ if $.source }}
      data-source="{{ $.source }}"
    {{ end }}
    {{ if $.url }}
      data-url="{{ $.url }}"
    {{ end }}
    {{ if $.iframe }}
      data-iframe="{{ $.iframe }}"
      {{ if $.nosandbox }}
        data-iframe-no-sandbox="true"
      {{ end }}
    {{ end }}
    target="_blank">
  <i class="fa fa-film" aria-hidden="true"></i>
  {{ default (replaceRE "[a-z]+://((www[0-9]*)\\.)?([^/]+)(/.*)?" "$3" $.source) $.name }}
  {{ partial "time-range.html" $ }}
</a>