{{ partial "head.html" . }}
{{ $slug := replaceRE "^.*/([^/]+)/?$" "$1" .URL }}

<section>
  <p>
    This is one of {{ where $.Site.Pages ".Type" "assertion" | len }} statements on Factopolis
    made by <a href="{{ .Parent.Parent.URL }}">{{ where $.Site.Pages ".Type" "person" | len }} people</a>,
    including <a href="{{ .Parent.URL }}">{{ .Parent.Pages | len }} by {{ .Parent.Title }}</a>.
  </p>
</section>

{{ if .Content }}
  <section>
    {{ .Content }}
  </section>
{{ end }}

<ul class="quote-list">
  <li>
    {{ partial "quote.html" (dict "page" $ "stmt" $) }}
  </li>
</ul>

{{ partial "footer.html" . }}
