{{ partial "head.html" . }}

<p>
  We currently have {{ .Data.Pages | len }} claims in our database.
</p>

{{ template "_internal/pagination.html" . }}

<ul class="claims">
  {{ range .Paginator.Pages }}
    <li class="claim">
      <h4>
	      <a href="{{ .URL }}">{{ .Title }}</a>
      </h4>

      <ul class="quick-claimants-list">
        {{ $claimID := .File.BaseFileName }}

        {{ range $assertion := where .Site.Pages "Type" "assertion" }}
          {{ if in $assertion.Params.claims $claimID }}
            <li>
              <a href="{{ $assertion.Parent.URL }}">
                {{ $assertion.Parent.Title }}
              </a>
              on
              <a href="{{ $assertion.URL }}">
                {{ dateFormat "2006-01-02" $assertion.Date }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>

      <section class="truth">
        <p>
          {{ .Params.summary | markdownify }}
        </p>
      </section>
    </li>
  {{ end }}
</ul>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
