{{ partial "head.html" . }}

{{ $claimID := .File.BaseFileName }}
{{ $claim := .Params }}

{{ if .Content }}
  <section id="details">
    <h2>Details</h2>

    {{ .Content }}
  </section>
{{ end }}

<section id="truth">
  <p>{{ $claim.summary | markdownify }}</p>
</section>

<section id="claimants">
  <h2>Claimants</h2>

  {{ $assertions := where .Site.Pages "Type" "assertion" }}
  <pre>{{ $assertions }}
{{ $.Data.Pages }}</pre>

  <ul class="shuffle">
    {{ range $person := (shuffle (where (where .Site.Pages "Type" "person") "Kind" "section")) }}
      <li>
        {{ $person.Title }} — {{ $person.Pages }} — {{ $person }}
      </li>
      {{/*
      {{ range where $person.Params.claims "id" $claimID }}
        <li>
          <a href="{{ $person.URL }}#claim-{{ $claimID | htmlEscape }}">
            {{ $person.Title }}
            {{ $claimCount := .assertions | len }}
            {{ if (sub $claimCount 1) }}
              on {{ $claimCount }} occasions
            {{ end }}
          </a>
        </li>
      {{ end }}
      */}}
    {{ end }}
  </ul>
</section>

<section id="sources">
  <h2>Sources</h3>

  <ul class="quote-list shuffle">
    {{ range $check := (shuffle .Params.checks) }}
      <li>
        <blockquote>
          <div class="quote-contents">
            <p>
              {{ if $check.quote }}
                {{ $check.quote | markdownify }}
              {{ else if $check.short }}
                {{ $check.short | markdownify }}
              {{ end }}
            </p>
          </div>

          <footer>
            <cite>
              <div>
                {{ if $check.source }}<a href="{{ $check.url }}">{{ end }}
                {{ if $check.checker }}
                  {{ range where $.Site.Pages "URL" (printf "/checker/%s/" $check.checker) }}
                    {{ .Title }}
                  {{ end }}
                {{ else }}
                  {{ $check.name }}
                {{ end }}

                {{ if $check.date }}
                  on {{ $check.date }}
                {{ end }}

                {{ if $check.source }}</a>{{ end }}
              </div>
            </cite>
          </footer>
        </blockquote>
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
