/* Header/footer */

body {
  background-image: radial-gradient(circle, rgb(54, 142, 193), rgb(43, 113, 153));
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

body > header,
body > footer {
  color: #81bbdc;
  font-variant: small-caps;
}

body > header a,
main > header a,
body > footer a {
  color: inherit;
  text-decoration: none;
}

body > header a:hover,
body > footer a:hover {
  color: #bddbed;
  background: radial-gradient(ellipse at center, rgba(54,142,193,1) 0%,rgba(54,142,193,0) 66%);
}

@media screen and (max-width: 768px) {
  .profile-pic {
    display: none;
  }

  .sticky-middle > h2 {
    margin: 0.66em 0 0 0;
  }

  .sticky-middle .links {
    font-size: 0.66em;
  }

  main {
    background-color: white;
  }

  header > div {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body > header > :first-child,
  main > header > :first-child {
    width: 225px;
  }

  .profile-pic {
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  main > header {
    color: #81bbdc;
  }

  main > header a:hover {
    color: #bddbed;
    background: radial-gradient(ellipse at center, rgba(54,142,193,1) 0%,rgba(54,142,193,0) 66%);
  }

  body > header,
  body > main {
    display: flex;
  }

  main > header .sticky-middle {
    margin-top: 50vh;
    transform: translate(0, -50%) translate(0, -1em);
  }

  body > footer > ul {
    display: flex;
  }

  .sticky-middle .links {
    margin-top: 1em;
  }
}

@media screen and (min-width: 992px) {
  body > header > :first-child,
  main > header > :first-child {
    width: 325px;
  }
}

main > header .sticky-middle {
  text-align: center;
}

body > main {
  flex-grow: 1;
}

body > header > :first-child,
main > header > :first-child {
  margin: 0;
}

main > header h2 {
  font-size: 1.5em;
}

.profile-pic {
  border-radius: 50% / 50%;
  box-shadow: 0 0 1em black;
  margin: 0.5em 0;
}

main > header ul.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main > header ul.links > li {
  display: inline-block;
  font-size: 2em;
  margin: 0 0.15em;
}

body > header > h1 {
  font-size: 1.25em;
  line-height: 2rem;
}

body > header a {
  display: block;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
}

body > header > nav {
  flex-grow: 1;
}

body > header > nav a {
  border-bottom: 5px #b0c26e solid;
}

body > header > nav a.active {
  border-bottom: 5px #ef4e57 solid;
}

body > header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body > header ul > li {
  flex-grow: 1;
}

body > footer > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body > footer > ul > li {
  flex-grow: 1;
}

body > footer a {
  display: block;
  text-align: center;
  line-height: 2rem;
  white-space: nowrap;
}

article {
  background-color: white;
  padding: 1em;
  flex-grow: 1;
  border-bottom: 5px #b0c26e solid;
}

/* Quotes */

.quote-list > li > blockquote > p {
  margin: 0;
  padding: 0;
}

.quote-list > li > blockquote cite {
  text-align: right;
  font-variant: italic;
  padding: 1em;
}

.quote-list > li > blockquote {
  margin: 0;
}

.quote-list > li > blockquote > footer > .fact-checks {
  padding: 1em;
  border-top: 1px #a8b2b7 solid;
}

.quote-list > li > blockquote > footer > .fact-checks:before {
  content: "Fact Checks:";
  text-align: right;
  width: 11em;
  display: block;
  font-variant: small-caps;
}

.quote-list > li > blockquote > footer > .fact-checks dt {
  float: left;
  width: 11em;
  text-align: right;
  padding-right: 1em;
}

.quote-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quote-list > li {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 5px #a8b2b7 solid;
}

.quote-contents {
  display: table-row;
}

.quote-contents:before,
.quote-contents:after {
  /* font: normal normal normal 14px/1 FontAwesome; */
  font-size: 2em;
  display: table-cell;
  color: #a8b2b7;
  padding: 0.25em;
}

.quote-contents:before {
  /* content: "\f10d"; */
  content: "“";
}

.quote-contents:after {
  /* content: "\f10e"; */
  content: "”";
}

.claims {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.claims .claim {
  clear: right;
}

.truth {
  display: block;
  margin: 0.5em 0;
  border-left: 5px #b0c26e solid;
  background-color: #f8ffdd;
  padding: 1em;
  border-radius: 3px;
}

.truth > h5 {
  font-variant: small-caps;
}

.truth > h5,
.truth > p {
  display: inline;
}

.claim > h4 {
  text-transform: capitalize;
  border-bottom: 1px black solid;
  margin: 0;
}

.claim > h4 > a {
  text-decoration: none;
}

/* Person */

.offices-held {
  list-style-type: disc;
}

.fact-checking-bio-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 992px) {
  .fact-checking-bio-links > li {
    float: right;
    margin: 0 0.25em;
  }
}

@media screen and (max-width: 992px) {
  .fact-checking-bio-links {
    float: right;
  }

  .fact-checking-bio-links > li {
    margin: 0.25em 0;
  }
}
