{{ partial "head.html" . }}

{{ if .Params.Data.summary }}
  <section id="summary">
    {{ .Params.Data.summary | markdownify }}
  </section>
{{ end }}

{{ if .Content }}
  <section id="description">
    <h3>Description</h3>

    {{ .Content }}
  </section>
{{ end }}

<section id="claims">
  <h3>Claims</h3>

  <ul class="claims">
    {{ range $claimId := .Page.Params.claims }}
      {{ $claimId }}
      {{/*
      <li class="claim">
        <h4>
          <a href="{{ $claim.URL }}">{{ $claim.Title }}</a>
        </h4>

        <ul class="quick-claimants-list">
          {{ range $person := (shuffle (where (where $.Site.Pages "Type" "person") "Kind" "page")) }}
            {{ range where $person.Params.claims "id" $claimId }}
              {{ $count := .assertions | len }}
              <li><a href="{{ $person.URL }}#claim-{{ $claimId }}">{{ $person.Title }}</a>{{ if sub $count 1 }} ({{ $count }} times){{ end }}</li>
            {{ end }}
          {{ end }}
        </ul>

        <section class="truth">
          <h5>The Truth:</h5>

          <p>
            {{ $claim.Params.summary | markdownify }}
          </p>
        </section>
      </li>
      */}}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}