{{ partial "head.html" . }}

{{ $claimID := .File.BaseFileName }}
{{ $claim := .Params }}

{{ if .Content }}
  <section>
    {{ .Content }}
  </section>
{{ end }}

<section>
  <h2>People</h2>

  <ul>
    {{ range $person := where (where .Site.Pages "Type" "person") "Kind" "page" }}
      {{ if $person.Params.affiliations }}
        {{ range $affiliation := $person.Params.affiliations }}
          {{ if eq $affiliation $.File.BaseFileName }}
            <li>
              <a href="{{ $person.Permalink }}">{{ $person.Title }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
